/.vs/LoginEcac/v17/.futdcache.v2
/.idea/.idea.LoginEcac/.idea/.gitignore
/LoginEcac/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.vs/LoginEcac/v17/.suo
/.vs/LoginEcac/FileContentIndex/021c76d8-cf56-47cb-92e3-8fee2196ef72.vsidx
/.vs/LoginEcac/v17/DocumentLayout.backup.json
/.vs/LoginEcac/v17/DocumentLayout.json
/.idea/.idea.LoginEcac/.idea/encodings.xml
/LoginEcac/obj/Debug/net9.0/LoginEcac.AssemblyInfo.cs
/LoginEcac/obj/Debug/net9.0/LoginEcac.AssemblyInfoInputs.cache
/LoginEcac/obj/Debug/net9.0/LoginEcac.assets.cache
/LoginEcac/obj/LoginEcac.csproj.nuget.dgspec.json
/LoginEcac/obj/LoginEcac.csproj.nuget.g.props
/LoginEcac/obj/LoginEcac.csproj.nuget.g.targets
/LoginEcac/obj/Debug/net9.0/LoginEcac.GeneratedMSBuildEditorConfig.editorconfig
/LoginEcac/obj/Debug/net9.0/LoginEcac.GlobalUsings.g.cs
/.vs/ProjectEvaluation/loginecac.metadata.v9.bin
/.vs/ProjectEvaluation/loginecac.projects.v9.bin
/.vs/ProjectEvaluation/loginecac.strings.v9.bin
/LoginEcac/obj/project.assets.json
/LoginEcac/obj/project.nuget.cache
/LoginEcac/obj/project.packagespec.json
/LoginEcac/obj/rider.project.model.nuget.info
/LoginEcac/obj/rider.project.restore.info
/.idea/.idea.LoginEcac/.idea
/LoginEcac/bin/Debug/net9.0
/LoginEcac/obj/Debug/net9.0
/.vs/
